.container-skills {
    margin-bottom: 20px;
}

.container-skills h3 {
    margin: 20px 0px 20px 0px;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills div {
    margin-bottom: 10px;
    margin-right: 10px;
}

.skills div i {
    font-size: 1.5rem;
}


@media screen and (min-width: 900px) {
    
    .container-skills h3 {
        font-size: 25px;
    }

    .skills div i {
        font-size: 2rem;
    }
}