.container-redes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.container-redes a {
    color: aliceblue;
    font-size: 20px;
}


@media screen and (min-width: 900px) {
    .container-redes{
        width: 15%;
    }
}