.link-ws {
    position: fixed;
    right: 15px;
    bottom: 20px;
    background-color: forestgreen;
    padding: 2px;
    opacity: .8;
    border-radius: 5px;
}

.fa-whatsapp {
    font-size: 2.5rem;
    color: aliceblue;
    cursor: pointer;
}