@import url(./styles/navBar.css);
@import url(./styles/home.css);
@import url(./styles/footer.css);
@import url(./styles/skills.css);
@import url(./styles/whatsApp.css);
@import url(./styles/contact.css);
@import url(./styles/socialNetwork.css);
@import url(./styles/projects.css);
@import url(./styles/appSlider.css);
@import url(./styles/loading.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #15141a;
  color: aliceblue;
  text-align: center;
}